<launch>
  <arg name="uuv_name" default="lauv"/>
  <!-- Vehicle's initial position -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-20"/>
  <arg name="yaw" default="0"/>

  <arg name="gui_on" default="true"/>

  <arg name="record" default="false"/>
  <arg name="bag_filename" default="recording.bag"/>

  <arg name="use_ned_frame" default="false"/>

  <arg name="joy_id" default="0"/>

  <include file="$(find-pkg-share lauv_description)/launch/upload.py">
    <arg name="namespace" value="$(var uuv_name)"/>
    <arg name="x" value="$(var x)"/>
    <arg name="y" value="$(var y)"/>
    <arg name="z" value="$(var z)"/>
    <arg name="yaw" value="$(var yaw)"/>
  </include>

  <!-- This node just reads the trajectory and waypoint topics and publishes
       visualization markers for RViz -->
  <group if="$(var gui_on)">
    <group ns="$(var uuv_name)">
      <node pkg="uuv_control_utils"
             exec="trajectory_marker_publisher.py"
             name="trajectory_marker_publisher"
             output="screen">
      </node>
    </group>
  </group>  

  <include file="$(find-pkg-share lauv_control)/launch/start_nmb_sm_control.launch"/>
    
  <include file="$(find-pkg-share uuv_control_utils)/launch/send_waypoints_file.launch">
    <arg name="uuv_name" value="lauv"/>
    <arg name="filename" value="$(find-pkg-share lauv_gazebo)/config/waypoint_set.yaml"/>
    <arg name="interpolator" value="dubins"/>
  </include>

  <!-- Initialize the recording afo the simulation according to the record flag  -->
  <!-- Start the recording -->
  <group if="$(var record)">
      <group ns="$(var uuv_name)">
        <node pkg="rosbag" exec="record" name="recording"
            args="record -O $(var bag_filename)
                /$(var uuv_name)/trajectory
                /$(var uuv_name)/reference
                /$(var uuv_name)/pose_gt_ned
                /$(var uuv_name)/error
                /hydrodynamics/current_velocity        
                /$(var uuv_name)/wrench_perturbation
                /$(var uuv_name)/thrusters/0/thrust
                /$(var uuv_name)/thrusters/0/input
                /$(var uuv_name)/fins/0/input
                /$(var uuv_name)/fins/1/input
                /$(var uuv_name)/fins/2/input
                /$(var uuv_name)/fins/3/input
                /$(var uuv_name)/fins/0/output
                /$(var uuv_name)/fins/1/output
                /$(var uuv_name)/fins/2/output
                /$(var uuv_name)/fins/3/output
                /$(var uuv_name)/control/environmentData"
            if="$(var use_ned_frame)"/>

        <node pkg="rosbag" exec="record" name="recording"
            args="record -O $(var bag_filename)
                /$(var uuv_name)/trajectory
                /$(var uuv_name)/reference
                /$(var uuv_name)/pose_gt
                /$(var uuv_name)/error
                /hydrodynamics/current_velocity
                /$(var uuv_name)/wrench_perturbation
                /$(var uuv_name)/thrusters/0/thrust
                /$(var uuv_name)/thrusters/0/input
                /$(var uuv_name)/fins/0/input
                /$(var uuv_name)/fins/1/input
                /$(var uuv_name)/fins/2/input
                /$(var uuv_name)/fins/3/input
                /$(var uuv_name)/fins/0/output
                /$(var uuv_name)/fins/1/output
                /$(var uuv_name)/fins/2/output
                /$(var uuv_name)/fins/3/output
                /$(var uuv_name)/control/environmentData"
            unless="$(var use_ned_frame)"/>
      </group>
  </group>

  <group if="$(var gui_on)">
      <node name="rviz" pkg="rviz2" exec="rviz2" output="screen" args="-d $(find-pkg-share lauv_control)/rviz/lauv_control.rviz"/>
  </group>
</launch>
