<launch>
  <!-- Vehicle's initial position -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-5"/>
  <arg name="yaw" default="0"/>

  <arg name="joy_id" default="0"/>

  <include file="$(find-pkg-share lauv_description)/launch/upload.py">
    <arg name="x" value="$(var x)"/>
    <arg name="y" value="$(var y)"/>
    <arg name="z" value="$(var z)"/>
    <arg name="yaw" value="$(var yaw)"/>
  </include>

  <!-- <include file="$(find-pkg-share lauv_control)/launch/start_auv_teleop.launch">
    <arg name="joy_id" default="$(var joy_id)"/>
  </include> -->

  <node name="rviz" pkg="rviz2" exec="rviz2" output="screen" args="-d $(find-pkg-share lauv_control)/rviz/lauv_control.rviz"/>
</launch>
